.contact-container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
    .contact-container {
        grid-template-columns: 600px 392px;
    }
}

@media (min-width: 1280px) {
    .contact-container {
        grid-template-columns: 740px 380px;
    }
}

@media (min-width: 1440px) {
    .contact-container {
        grid-template-columns: 870px 410px;
    }

}

@media (min-width: 1920px) {
    .contact-container {
        grid-template-columns: 1076px 520px;
    }
}