@import 'tailwindcss';

@font-face {
    font-family: "CarmenSans";
    src: url("/font/CarmenSans-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
  
.no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

:root {
    --orange-50: #FF9500;
    --orange-70: #FFBF66;
    --orange-75: #FFCA80;
    --orange-80: #FFD599;
    --primary-90: #FFEACC;
    --primary-95: #FFF4E5;
    --primary-97: #F7F7F8;
    --primary-99: #FFF9F0;
    --white: #FFFFFF;
    --grey-15: #262626;
    --grey-30: #4C4C4D;
    --grey-35: #59595A;
    --grey-40: #656567;
    --background-color-90: #E4E4E7;
    --background-color-95: #F1F1F3;
    --background-color-97: #F7F7F8;
    --background-color-99: #FCFCFD;
    --shadow-custom: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
    --background-color-90: #1A1A1A;
    --background-color-95: #262626;
    --background-color-97: #333333;
    --background-color-99: #4C4C4D;
    --primary-95: #C25E00 ;
    --grey-15: #FFFFFF;  
    --grey-30: #D0D0D0; 
    --grey-35: #C0C0C0;
    --white:#000000;
    --primary-90: #FFB366;
    --shadow-custom: rgba(255, 153, 0, 0.2);
}

@theme {
    --breakpoint-xxs: 390px;
    --breakpoint-xs: 500px;
    --breakpoint-lp: 1440px;
    --breakpoint-dk: 1920px;
    --color-primary-50: var(--orange-50);
    --color-primary-70: var(--orange-70);
    --color-primary-75: var(--orange-75);
    --color-primary-80: var(--orange-80);
    --color-primary-90: var(--primary-90);
    --color-primary-95: var(--primary-95);
    --color-primary-97: var(--primary-97);
    --color-primary-99: var(--primary-99);
    --color-white: var(--white);
    --color-white-90: var(--background-color-90);
    --color-white-95: var(--background-color-95);
    --color-white-97: var(--background-color-97);
    --color-white-99: var(--background-color-99);
    --font-color-primary-50: var(--orange-50);
    --font-color-grey-15: var(--grey-15);
    --font-color-grey-35: var(--grey-35);
    --font-color-grey-30: var(--grey-30);
    --font-color-grey-40: var(--grey-40);
    --border-color-white-90: (var(--background-color-90));
    --border-color-white-95: (var(--background-color-95));
    --shadow-custom: var(--shadow-custom);
}

body {
    font-family: "Be Vietnam Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    background-color: var(--background-color-90);
    color: var(--grey-15);
}

.kontener {
    width: 100%;
}

.text-title {
    font-size: 28px;
    line-height: 42px;
}

.text-sub-title {
    font-size: 20px;
    line-height: 30px;
}

.text-title-card {
    font-size: 18px;
    line-height: 27px;
}

.text-body {
    font-size: 14px;
    line-height: 21px;
}

.toggle {
    position: fixed;
    z-index: 50;
    top: 14.5rem;
    right: 1rem;
    transform: translateY(-72px);
    background-color: var(--orange-50);
    color: var(--grey-15);
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 9999px;
    padding: .3rem;
    outline: none;
    transition: all .3sease-in-out;
}

.checkbox-custom {
    appearance: none;
    background-color: var(--primary-97);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px var(--primary-97)
  }
  
  .checkbox-custom:checked {
    background-color: var(--orange-50);
    color: white;
  }
  
  .checkbox-custom:checked::after {
    content: '✓';
    font-size: 0.875rem;
    font-weight: bold;
  }

@media (min-width: 768px) {
    .toggle {
        top: 13rem;
        right: 3rem;
    }
}

@media (min-width: 1280px) {
    .kontener {
        max-width: 1120px;
    }
}

@media (min-width: 1440px) {
    .kontener {
        max-width: 1280px;
    }

    .text-title {
        font-size: 38px;
        line-height: 57px;
    }

    .text-title-card {
        font-size: 20px;
        line-height: 30px;
    }
    
    .text-body {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 1920px) {
    .kontener {
        max-width: 1595px;
    }

    .text-title {
        font-size: 48px;
        line-height: 72px;
    }

    .text-sub-title, .text-title-card {
        font-size: 24px;
        line-height: 36px;
    }
    
    .text-body {
        font-size: 18px;
        line-height: 27px;
    }
}


