
.guest-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .guest-container {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1440px) {
    .guest-container {
        grid-template-columns: 665px 540px;
    }

}

@media (min-width: 1920px) {
    .guest-container {
        grid-template-columns: 829px 660px;
    }
}