@keyframes marquee {
    0% { transform: translateX(-200%); }
    50% { transform: translateX(200%); }
    100% { transform: translateX(-200%); }
}

.animate-marquee {
    animation: marquee 60s linear infinite;
}

@media (min-width: 800px) {
    .animate-marquee {
        animation: none;
    }
}